*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 80.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
  }
  body{
    overflow: hidden;
    transition: 02s linear !important;
  }

.container {
    width: 100%;
    border: 1px solid rgb(13, 13, 13);
}
.first_sec {
    display: flex;
}
.logo {
   width: 50%;
   height: auto;
   /* border: 2px solid coral; */
   overflow: hidden;
   background-position: center;
   background-size: cover;
   min-width: 500px;

}
.logo img {
    width: 100%;
    height: 100%;
}
.nav_side {
    width: 50%;
    /* background: rgb(163, 160, 160); */
}
.nav_menu {
    /* background: #fff; */
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}
.nav_menu li {
    list-style-type: none;
    width: 75px;
    text-align: center;
    padding:5px 5px;
    margin: 5px 10px;
    border-radius: 15px;
    background: #008CBA;
    color: white;
    cursor: pointer;
    display: inline;
}
.nav_menu li i{
    color: white ;
}
.nav_menu li:hover {
    color: #0876a2;
}
.desc {  
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    width: 100%;
    height: 250px;
    position: relative;
}
.desc .heading {
    padding: 10px 10px;
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 1px solid green;

}
.heading .underlineText {
    /* margin-top: 10px; */
    text-decoration-line: underline;
    text-decoration-style:solid;
    text-decoration-color: brown;
    font-weight: 600;
}
.desc .quote {
    padding: 10px 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.desc .lightBulb {
    width: 60px;
    position: absolute;
    margin-left: 430px;
    margin-top: 40px;
    border-radius: 40px;
}

/* Section Two Css */
.heading {
    font-weight: bolder;
    font-size: 4rem;
    font-family:'Poppins', sans-serif;
    align-items: center;
    align-content: center;
    margin: 10px 10px;
    padding: 20px;
    display: flex;
    justify-content: center;

    text-decoration-line: underline;
    text-decoration-style:solid;
    text-decoration-color: rgb(164, 24, 24);
}
.second_sec {
    width: 70%;
    height: auto;
    margin: 0 auto;
}

.projects_container {
    width: 100%;

    /* make two columns using flex box. */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
}
.project_type {
    object-fit: cover;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    margin: 10px 10px;
    
}
.label {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: rgb(17, 17, 17);
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: medium;
}
.project_type img{
    width: 300px;
    flex-shrink: 0;
}

/* contact me section */
.third_sec {
    padding: 20px;
    width: 80%;
    height: auto;
    margin: 0 auto;
}
.contact_heading {
    font-size: larger;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 10px 10px;
    font-size: 3rem;
}

.contact_container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
   }
.contact_details {
    width: 60%;
    margin: 10px 10px;
    display: flex;
    flex-direction: column;
    padding: 5px 10px;
    margin: 10px 5px;

}

.contact_details::after {
    content: "";
    height: 25%;
    align-items: center;
    align-content: center;
    position: absolute;
    background: rgb(161, 161, 162);
    width: 0.5px;
    z-index: -20;
    left: 57%;
    margin-left: 5px;
}

.firstLastName {
    display: flex;
    width: 100%;
    height: 40px;
    position: relative;
    
}
input{
    width: 100%;
    border: none;
    padding: 5px 2px;
    margin: 1px;
    outline: none;
    border-bottom: 2px solid silver;
    font-size: 17px;
}

.email_container {
    left: 0;
    width: 100%;
    height: 40px;
    position: relative;
    overflow-x: hidden;

}
.textarea_container {
    width: 100%;
    height: auto;
    position: relative;
}

.textarea_container textarea {
    width: 100%;
    border-color: silver;
    padding: 5px 2px;

}
.lets_talk_section {
    width: 40%;
    margin: 10px 5px;
    padding: 5px 10px;

}
.lets_talk {
    font-size: large;
    font-family: poppins;
    top: 0;
}
.lets_talk_section>p{
    font-family: poppins, sans-serif;
}

